*{
    padding:0;
    margin:0;
    user-select: none;

}
body{
    background: #c7f3f9;
    font-family: "Architect Daughter";
    font-size: 24px;
}
.main{
    max-width: 95%;
    margin:0 auto;
}
.newButtonContainer{
    margin-left: 5%;
    margin-top:10px;
}
.notesContainer{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top:20px;
    margin-left:5%;
}
.newNoteContainer{
    position: absolute;
    left:40%;
    top:26%;
}
.newNoteContainerDisplay{
    display:none;
}
.note{
    min-width:250px;
    min-height:250px;
    padding:25px;
    font-size: 26px;
    margin-top: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
}
textarea{
    box-shadow: 10px 10px 24px 0px rgba(72, 73, 73, 0.75);
    border-radius: 0.5rem;
    border:none;
    outline: none;
    padding: 1rem;
    width:275px;
    height:275px;
}
svg{
    color: gray;
    cursor: pointer;
}
#check-icon{
    position: absolute;
    right: 2.5rem;
    top: 0.5rem;
}

#x-icon{
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}